body {
  position: static;
  background-color: #F4D8C3;
  background-image: url('../images/bg.png');
  background-size: 100% auto;
}

body,
html,
p,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 7.5rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 1.8rem;
}


.content {
  width: 6.9rem;
  margin: 0 auto;
  position: relative;
  display: block;
}

.header {
  width: 100%;
  height: 4.4rem;
  /* background-color: #F4D8C3; */
  /* padding: 0.2rem 0.3rem; */
}

.header .header-img {
  height: 100%;
  border-radius: .3rem;
  background-image: url('http://tv.xingafrica.com/syty/haipai_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.video {
  width: 100%;
  margin-top: 0.5rem;
  position: relative;
}

.play {
  width: 6.28rem;
  height: 3.55rem;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 10px;
  position: relative;
}

.play .controler {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .4);
}

.play .controler .start {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/play.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.video-header {
  width: 115%;
  height: 0.94rem;
  background-image: url(../images/video_header.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 11;
  position: absolute;
  top: -0.8rem;
  left: -0.5rem;
}

.video-play {
  width: 100%;
  height: 5.34rem;
  background-image: url('../images/video.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.title,
.main-title {
  height: 1.4436rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 0.5rem;
}

.main-title {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 0.6rem;
  border-bottom: 0.06rem solid black;
}

.title-left {
  width: 0.8rem；
}

.title-right {
  width: 0.8rem;

}

.receiver {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-image: url('../images/receiver.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* border: 1px solid green; */
}

.left-tan {
  width: 0.4rem;
  height: 0.1rem;
  background-color: #EFCBB2;
  margin-top: 0;
  border: 2px solid #231815;
}

/* .left-white.setwhite{
margin-top:0;
} */
.settan {
  margin-top: 0.1rem;
}

.left-white {
  width: 0.72rem;
  height: 0.1rem;
  background-color: #FFFFFF;
  border: 2px solid #231815;
  margin-top: 0.1rem;
}

.right-white {
  width: 0.72rem;
  height: 0.1rem;
  margin-top: 0;
  background-color: #FFFFFF;
  /* border:0.0504rem 0.0504rem 0.0504rem 0rem solid #231815; */
  border: 2px solid #231815;
  float: right;
}

.right-tan {
  width: 0.4rem;
  height: 0.1rem;
  background-color: #DE0054;
  /* border:0.0504rem 0.0504rem 0.0504rem 0rem solid #231815; */
  border: 2px solid #231815;
  margin-top: 5px;
  float: right;
}

.title-cen {
  max-width: 4rem;
  font-family: REEJI-Q-GB-Regular;
  font-weight: normal;
  letter-spacing: 0em;
  font-size: 0.4rem;
  color: #fff;
  font-weight: bold;
  text-shadow: #000 2px 0 0, #000 0 2px 0, #000 -2px 0 0, #000 0 -2px 0;
}

.cooking-step-cen {
  max-width: 5rem;
  font-family: REEJI-Q-GB-Regular;
  font-weight: normal;
  letter-spacing: 0em;
  font-size: 0.38rem;
  color: #fff;
  font-weight: bold;
  text-shadow: #000 2px 0 0, #000 0 2px 0, #000 -2px 0 0, #000 0 -2px 0;
}

.classic {
  width: 4.76rem;
  height: 0.6rem;
  background-image: url('../images/classic.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.holiday {
  font-family: REEJI-Q-GB-Regular;
  font-weight: normal;
  letter-spacing: 0em;
  font-size: 0.4rem;
  width: 3.94rem;
  height: 0.72rem;
  background-image: url('../images/stay.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.failure {
  width: 3.24rem;
  height: 0.88rem;

}

.main {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 0.8rem;
  position: relative;
}

.main-cen,
.video-cen {
  width: 6.72rem;
  position: relative;
  z-index: 100;
  overflow: hidden;
  /* border: 1px solid violet; */
}

.menu {
  height: 0.88rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  font-family: HYYakuHei-GEW;
  font-size: 0.3rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0em;
  color: #703A03;
  text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.submenu {
  width: 2rem;
  height: 0.88rem;
  border-radius: 0.84rem;
  margin-right: 0.1rem;
}

.submenu:last-child {
  margin-right: 0;
}

.submenu:nth-child(1) {
  background-image: url('../images/homg_gray.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.submenu:nth-child(1).activebg {
  background-image: url('../images/home_active.png');
  background-repeat: no-repeat;
  background-size: 2.76rem 1.64rem;
  background-position: -0.4rem -0.32rem;
}

.submenu:nth-child(2) {
  background-image: url('../images/rice_gray.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.submenu:nth-child(2).activebg {
  background-image: url('../images/rice_active.png');
  background-repeat: no-repeat;
  background-size: 2.76rem 1.64rem;
  background-position: -0.4rem -0.32rem;
}

.submenu:nth-child(3) {
  background-image: url('../images/tea_gray.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.submenu:nth-child(3).activebg {
  background-image: url('../images/tea_active.png');
  background-repeat: no-repeat;
  background-size: 2.76rem 1.64rem;
  background-position: -0.4rem -0.32rem;
}

.box {
  width: 6.26rem;
  margin-top: 0.3rem;
  margin: 0 auto;
}

.cooking-box {
  width: 6.5rem;
  margin-top: 0.3rem;
  margin: 0 auto;
  /* border: 1px solid green; */
  position: relative;
}

.cooking-text {
  width: 6.26rem;
  position: relative;
  z-index: 100;

}

.box-title {
  width: 1.9rem;
  height: 0.7rem;
  height: 0.24rem;
  background: #FFE092;
  position: relative;
  margin: 0 auto;
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;

}

.coldfood {
  width: 1rem;
  height: 0.7rem;
  background-image: url('../images/coldfood.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0.45rem;
}

.hotfood {
  width: 1rem;
  height: 0.7rem;
  background-image: url('../images/hotfood.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0.45rem;
}

.soupfood {
  width: 1rem;
  height: 0.7rem;
  background-image: url('../images/soup.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0.45rem;
}

.mainfood {
  width: 1rem;
  height: 0.7rem;
  background-image: url('../images/mainfood.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0.45rem;
}

.drink {
  width: 1rem;
  height: 0.6rem;
  background-image: url('../images/drink.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0.45rem;
}

.card {
  position: relative;
  margin-bottom: 0.5rem;
}

.card-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.card-tan {
  width: 6.1rem;
  height: 100%;
  left: 0.16rem;
  top: 0.2rem;
  position: absolute;
  background-color: #EFCCB3;
  border: 2.92px solid #231815;
}

.card-white {
  width: 6.1rem;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #FFFFFF;
  border: 2.92px solid #231815;
}

.card-phtoto {
  width: 5.7rem;
  height: 2.14rem;
  margin: 0 auto;
  padding-top: 0.12rem;
  background-image: url('../images/card_first.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}

.cooking-photo {
  width: 6.07rem;
  height: 5.06rem;
  left: 0.12rem;
  top: 0.12rem;
  position: absolute;
}

.cooking-img {
  display: block;
  width: calc(100% - 0.04rem);
}

.card-text {
  width: 6.1rem;
  padding-top: 0.2rem;
  font-family: OPPOSans-M;
  font-size: 0.32rem;
  font-weight: 500;
  letter-spacing: 0em;
  color: #703A03;
  position: relative;
  z-index: 100;
  /* border: 1px solid red; */
}

.footer {
  width: 6rem;
  margin: 0 auto;
  height: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
}

.box {
  display: none;
}

.box.active {
  display: block;
}

.list-second {
  width: 6.2rem;
  height: 5.45rem;

}

.card-header {
  height: 0.7rem;
  width: 5.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left {
  /* width: 2.1rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  max-width: 7.3rem;
  font-family: OPPOSans-B;
  font-size: 0.4rem;
  font-weight: bold;
  letter-spacing: 0em;
  color: #703A03;
  text-align: right;
}

.week {
  display: block;
  width: 1.1rem;
}

.date {
  font-family: OPPOSans-M;
  font-size: 0.24rem;
  font-weight: 500;
  letter-spacing: 0em;
  color: #703A03;
}

.card-bottom,
.cooking-text {
  width: 5.7rem;
  margin: 0 auto;
  font-family: OPPOSans-M;
  font-size: 0.28rem;
  font-weight: 500;
  letter-spacing: 0em;
  color: #703A03;
  margin-top: 0.22rem;
  padding-bottom: 0.22rem;
}

.card-bottom.no-text {
  padding: 0.09rem;
  margin-top: 0;
}

.cooking-text {
  width: 6.5rem;
  font-size: 0.32rem;
}

.bg {
  height: 100%;
  width: 100%;
  /* border: 1px solid blue; */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.cookbg {
  width: 100%;
  height: 4.77rem;
  position: absolute;
}

.back-one {
  height: 300px;
}

.bg-red {
  width: 6.72rem;
  height: 100%;
  background-color: #DE0054;
  position: absolute;
  left: 0.24rem;
  top: 0.24rem;
  border: 0.0584rem solid #231815;
}

.cook-red,
.cook-tan,
.cook-white {
  width: 6.26rem;
  height: 100%;
  position: absolute;
  left: 0.24rem;
  top: 0.24rem;
  border: 0.0584rem solid #231815;
}

.cook-red {
  left: 0.24rem;
  top: 0.24rem;
  background-color: #DE0054;
}

.cook-tan {
  background-color: #EFCCB3;
  left: 0.12rem;
  top: 0.12rem;
}

.cook-white {
  background-color: #FFFFFF;
  left: 0;
  top: 0;
}

.bg-tan {
  width: 6.72rem;
  height: 100%;
  background-color: #EFCCB3;
  position: absolute;
  left: 0.12rem;
  top: 0.12rem;
  border: 0.0584rem solid #231815;
}

.bg-white {
  width: 6.72rem;
  height: 100%;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 0;
  border: 0.0584rem solid #231815;
  /* z-index: 1000; */
}

.title-text {
  width: 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cooking-step {
  width: 100%;
  height: 100%;
  position: absolute;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  display: none;
}

.cooking-content {
  width: 100%;
  height: 82vh;
  position: absolute;
  top: 18vh;
  left: 0;
  background-color: #F4D8C3;
  background-image: url('../images/bg.png');
  background-size: 100% auto;
  border-radius: 0.3rem 0.3rem 0 0;
}

.main-info {
  width: 100%;
  height: calc(100% - 1.4436rem);
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 0.4rem;
}

.cooking-page {
  width: 6.9rem;
  margin: 0 auto;
  padding-bottom: 0.05rem;
  display: block;
  background-color: #FFFFFF;
  padding-top: 0.24rem;
}

.cooking-card {
  width: 100%;
  height: 5rem;
}

.step {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.step-title {
  font-family: SourceHanSansCN-Medium;
  font-size: 0.48rem;
  font-weight: 500;
  letter-spacing: 0em;
  color: #FA5151;
}

.step-list {
  font-family: SourceHanSansCN-Regular;
  font-size: 0.32rem;
  font-weight: normal;
  letter-spacing: 0em;
  color: #703A03;
  margin-top: 0.32rem;
  line-height: 1.9em;
}

.step-item {
  font-family: SourceHanSansCN-Regular;
  font-size: 0.32rem;
  font-weight: normal;
  letter-spacing: 0em;
  color: #703A03;
  margin-top: 0.32rem;
}

.cooking-footer {
  width: 7.02rem;
  height: 3.14rem;
  margin: 0 auto;
  margin-top: 00.32rem;
  border-radius: 0.4rem;
  background: #FFF2D5;
  border: 2.92px solid #F7B111;
  margin-bottom: 0.8rem;
}

.footerbg {
  height: 0.88rem;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom {
  width: 6.7rem;
  height: 1.64rem;
  margin: 0 auto;
  margin-top: 0.2rem;
  border-radius: 0.4rem;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url('../images/location.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.address {
  width: 4.34rem;
  height: 1.64rem;
  margin-left: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-header {
  font-family: OPPOSans-M;
  font-size: 0.32rem;
  font-weight: 500;
  letter-spacing: 0em;
  color: #535353;
  margin-top: 0.1rem;
  /* border-bottom: 1px solid #535353; */
  display: inline-block;
  width: fit-content;
}

.address-foot {
  font-family: OPPOSans-R;
  font-size: 0.24rem;
  font-weight: normal;
  letter-spacing: 0em;
  color: #5D5D5D;
  margin-top: 0.1rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.close {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  right: 0.3rem;
  top: -1rem;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #f3d8c3;
  border-radius: 3px;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

video::-webkit-media-controls-timeline {
  display: none;
}

video::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none !important;
}

.my-player-dimensions,
#my-player_html5_api,
#my-player {
  width: 100%;
  height: 100%;
}

#my-player_html5_api {
  object-fit: cover;
}