body {
  background: linear-gradient(90deg, #FD9054 0%, #F16622 100%);
  margin: 0;
}

html,
body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 7.5rem;
  margin: 0 auto;
  background-image: url('../images/main.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.content {
  width: 100%;
  margin-top: 4.1rem;
  padding: 0 0.32rem;
  margin-bottom: 2rem;
}

.card {
  width: 100%;
  position: relative;
  /* margin: 0 auto; */
  border-radius: 0.12rem;
  background: #FDF6E9;
  box-shadow: 0 0.2rem 0.2rem 0.2rem rgba(243, 112, 39, 0.8);
  padding: 0.32rem 0.32rem 0.26rem 0.32rem;
  margin-bottom: 0.32rem;
}

.picture {
  width: 100%;
  height: 4.6rem;
  /* background: url('../images/mytrop.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 2.96rem; */
}

.swiper-img {
  width: 100%;
  display: block;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDF6E9;
}

.vote {
  font-size: 0.36rem;
  font-weight: 500;
  line-height: 0.32rem;
  letter-spacing: 0px;
  color: #F94B30;
  margin-top: 0.4rem;
}

.first-one {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* border: 1px solid black; */
  justify-content: space-between;
}

.message {
  width: 3.68rem;
  font-size: 0.36rem;
  font-weight: 500;
  line-height: 0.32rem;
  letter-spacing: 0px;
  color: #F94B30;
}

.voting-btn {
  width: 2.38rem;
  height: 0.68rem;
  background-color: #F94B30;
  background: url('../images/share.png');
  background-size: 2.38rem 0.68rem;
  /* border: 1px solid black; */
}

.text {
  font-size: 0.28rem;
  color: #222229;
  font-family: OPPOSans-R;
  font-weight: normal;
  line-height: 0.4rem;
  letter-spacing: 0px;
  margin-top: 0.25rem;
}

.container-footer {
  width: 100%;
  position: fixed;
  bottom: 0.5rem;
  font-size: 0.6rem;
  line-height: 0.52rem;

}

.join-btn {
  width: 6.06rem;
  height: 1.04rem;
  background-image: url('../images/vote_btn_1.png');
  background-size: 100% 100%;
  animation: breath 1.1s infinite;
  margin: 0 auto;
}

.pagination-wrapper {
  height: 0.3rem;
  position: relative;
  margin-bottom: 0.4rem;
}

.pagination-wrapper .swiper-pagination-bullet-active {
  background: #F94B30;
}

.pagination-wrapper .swiper-pagination-bullet {
  width: 0.92rem;
  height: 0.08rem;
  display: block;

}

.pagination-wrapper .swiper-pagination-bullet {
  width: 0.92rem;
  height: 0.08rem;
  display: inline-block;
  border-radius: 0;

}

.pagination-wrapper .swiper-pagination {
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

.dialog-mask {
  z-index: 800;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
 
}

.dialog-mask .dialog-main {
  font-size: 0.32rem;
  color: #BA8459;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6.74rem;
  /* height: 5.06rem; */
  border-radius: 0.68rem;
  background: linear-gradient(180deg, #FAD6B0 0%, #FCFBF8 100%);
  box-shadow: inset 0px 10px 33px 0px #FAD9BB;
}
.first{
  height: 5.06rem;
}

.second{
  padding-bottom: 0.6rem;
}
.dialog-mask .dialog-main .top {
  position: absolute;
  left: -0.3rem;
  top: -2.24rem;
  width: 7.37rem;
  height: 3.53rem;
  /* background-image: url('/images/success.png'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.success-img{
  background-image: url('/images/success.png');
}
.failure-img{
  background-image: url('../images/failure.png');
}
.success{
  display: none;
}
.failure{
  display:none;
}
.dialog-mask .dialog-main .title {
  /* width: 2.57rem; */
  height: 1.34rem;
  line-height: 1.34rem;
  font-size: 0.48rem;
  font-weight: 500;
  color: #C1602E;
  text-align: center;
  margin: 0.82rem auto 0.2rem;
}
.dialog-mask .dialog-main .main-info {
  font-size: 0.32rem;
  font-weight: 500;
  margin-bottom: 0.52rem;
}
.notice{
  text-align: left;
    padding-left: 0.6rem;
    margin-bottom: 0.1rem;
}
.dialog-mask .dialog-main .red {
  color: #FA5151;
}

.dialog-mask .dialog-main .tips {
  line-height: 1.6em;
  margin-bottom: 0.56rem;
}

.dialog-mask .dialog-main .btn {
  width: 5.6rem;
  height: 0.96rem;
  line-height: 0.96rem;
  border-radius: 0.96rem;
  background: linear-gradient(270deg, #FC4C14 0%, #FD7303 100%);
  font-size: 0.36rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 0 auto 0;
}
.guide{
  display: none;
}
#guide-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
}
.guide-point {
  display: block;
  width: 4rem;
}
.guide-btn {
  display: block;
  width: 2rem;
  margin: 0 auto;
}