<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>上传作品</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="../lib/rem.js"></script>
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/upload.css">
</head>

<body>
    <div id="app" v-cloak class="main">
        <div class="card personal-info">
            <div class="top personal-info-title"></div>
            <div class="circle left-circle"></div>
            <div class="circle right-circle"></div>
            <div class="content">
                <div class="form-item">
                    <label class="label" for="name">姓名</label>
                    <input class="input" v-model="workInfos.name" placeholder="请输入姓名" type="text" name="name"
                        :maxlength="10">
                </div>
                <div class="form-item">
                    <label class="label" for="tel">联系方式</label>
                    <input class="input" v-model="workInfos.tel" placeholder="请输入联系方式" type="text" name="tel">
                </div>
                <div class="form-item">
                    <label class="label" for="tel">联系地址</label>
                    <input class="input" v-model="workInfos.address" placeholder="请输入联系地址" type="text" name="tel">
                </div>
                <div class="form-item">
                    <label class="label" for="company">所属单位</label>
                    <input class="input" v-model="workInfos.company" placeholder="请输入所属单位" type="text" name="company"
                        :maxlength="50">
                </div>
            </div>
        </div>

        <div class="card work-info">
            <div class="top work-title"></div>
            <div class="circle left-circle"></div>
            <div class="circle right-circle"></div>
            <div class="content">
                <div class="form-item">
                    <label class="label" for="name">请选择报名活动</label>
                    <div class="tab">
                        <span :class="['tab-item', workType === 1 ? 'actived' : '']" @click="handleClick(1)">征文</span>
                        <span :class="['tab-item', workType === 2 ? 'actived' : '']" @click="handleClick(2)">照片</span>
                        <span :class="['tab-item', workType === 3 ? 'actived' : '']" @click="handleClick(3)">短视频</span>
                    </div>
                </div>

                <!-- 征文活动 -->
                <div v-show="workType === 1" class="work-input text-work">
                    <div class="form-item">
                        <label class="label" for="workName">文章标题</label>
                        <input class="input" v-model="workInfos.workName" placeholder="请输入文章标题" type="text"
                            name="workName" :maxlength="30">
                    </div>
                    <div class="form-item">
                        <label class="label" for="workContent">文章内容<span>（字符数&lt;2000字）</span></label>
                        <textarea class="input" v-model="workInfos.workContent" placeholder="请输入文章内容" type="textarea"
                            rows="8" name="workContent" :maxlength="2000"></textarea>
                    </div>
                    <div class="form-item">
                        <label class="label" for="workPhotos">文章配图</label>
                        <div class="img-list">
                            <div class="item-wrapper" v-for="(item, index) in workInfos.workPhotos" :key="index">
                                <div class="img-item">
                                    <img :src="item">
                                    <div class="delete" @click="handleDelete(index)"><span class="icon"></span></div>
                                </div>
                                <textarea class="input img-desc" v-model="workInfos.textWorkPhotoText[index]"
                                    placeholder="非必填：请输入配图说明和图片来源" type="textarea" rows="8" :maxlength="60"></textarea>
                            </div>
                            <div v-if="workInfos.workPhotos.length < maxPhotoCount" class="img-item upload">
                                <input class="file" type="file" @change="handleUpload($event)">
                                <div class="icon"></div>
                                <div class="text">上传图片[{{workInfos.workPhotos.length}}/{{maxPhotoCount}}]</div>
                                <div class="tip">图片不得大于2M</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-show="workType === 2" class="work-input photo-work">
                    <div class="form-item">
                        <label class="label" for="workName">作品名称</label>
                        <input class="input" v-model="workInfos.workName" placeholder="请输入作品名称" type="text"
                            name="workName" :maxlength="30">
                    </div>
                    <div class="form-item">
                        <label class="label" for="workPhotos">作品上传</label>
                        <div class="img-list">
                            <div class="img-item" v-for="(item, index) in workInfos.workPhotos" :key="index">
                                <img :src="item">
                                <div class="delete" @click="handleDelete(index)"><span class="icon"></span></div>
                            </div>
                            <div v-if="workInfos.workPhotos.length < maxPhotoCount" class="img-item upload">
                                <input class="file" type="file" @change="handleUpload($event)">
                                <div class="icon"></div>
                                <div class="text">上传图片[{{workInfos.workPhotos.length}}/{{maxPhotoCount}}]</div>
                                <div class="tip">图片不得大于2M</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="label" for="workDesc">作品介绍<span>（字符数&lt;200字）</span></label>
                        <textarea class="input" v-model="workInfos.workDesc" placeholder="请输入作品介绍" type="textarea"
                            rows="8" name="workDesc" :maxlength="200"></textarea>
                    </div>
                </div>
                <div v-show="workType === 3" class="work-input video-work">
                    <div class="form-item">
                        <label class="label" for="workName">作品名称</label>
                        <input class="input" v-model="workInfos.workName" placeholder="请输入作品名称" type="text"
                            name="workName" :maxlength="30">
                    </div>
                    <div class="form-item">
                        <label class="label" for="workVideo">作品上传</label>
                        <div v-if="!workInfos.workVideo" class="no-video">
                            <span class="bg"></span>
                            <span class="text">投稿作品需为MP4、MOV格式，时长&lt;3分钟，分辨率 不低于720P（即1280*720），大小不超过200M</span>
                            <input class="file" type="file" @change="handleUpload($event, 2)">
                        </div>
                        <video v-else autoplay class="video" :src="workInfos.workVideo" controls></video>
                    </div>
                    <div class="form-item">
                        <label class="label" for="workDesc">作品介绍<span>（字符数&lt;200字）</span></label>
                        <textarea class="input" v-model="workInfos.workDesc" placeholder="请输入作品介绍" type="textarea"
                            rows="8" name="workDesc" :maxlength="200"></textarea>
                    </div>
                </div>

                <div class="form-item">
                    <label class="label" for="imgCode">验证码</label>
                    <div class="img-code-input">
                        <input class="input has-img-code" v-model="imgCode" placeholder="请输入验证码" type="text"
                            name="imgCode">
                        <img class="img-code" :src="imgCodeUrl" @click="handleImgCodeChange" />
                    </div>
                </div>
            </div>
        </div>

        <div class="join-btn" @click="handleJoin"></div>

        <div v-show="successVisiable" class="dialog-mask">
            <div class="dialog-main">
                <div class="top"></div>
                <div class="title">报名成功！</div>
                <div class="main-info">
                    你将获得由主办方提供的<span class="red">精美礼品一份</span>
                </div>
                <div class="tips">
                    <span>温馨提示：</span><br>
                    <span>“最受欢迎奖”摄影作品评选时间：</span><br>
                    <span class="red">2022年9月28日—2022年9月30日</span><br>
                    <span>作品展示时间：</span><br>
                    <span class="red">2022年10月8日至10月下旬</span>
                </div>

                <div class="btn" @click="handleBack">我知道了</div>
            </div>
        </div>

        <div v-show="uploadVisiable" class="dialog-mask">
            <div class="loading-bar-wrapper">
                <div class="text">上传中{{percent}}%...</div>
                <div class="loading-bar" :style="{width: percent + '%'}"></div>
            </div>
        </div>
    </div>
</body>

<script src="/lib/vue.min.js"></script>
<script src="/lib/qiniu.min.js"></script>
<script src="/lib/jquery.js"></script>
<script src="/js/component.js"></script>
<script src="/js/upload.js"></script>

</html>